language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - hhvm

before_install:
    - composer self-update

install:
    - composer install

before_script:
    - tests/travis/php_setup.sh
    - tests/travis/redis_setup.sh

script: ./tests/runTests.sh

after_script:
    - php vendor/bin/coveralls -v

services:
    - redis-server
    - memcached

matrix:
    fast_finish: true
    allow_failures:
      - php: 7.0
