<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Assetic Test Suite">
            <directory suffix="Test.php">./test/Stash/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Stash/</directory>
        </whitelist>
    </filter>
</phpunit>
